{% extends "base.html" %}
{% import 'macros.html' as macros %}
{% block content %}

	<h1>Chat with another user!</h1>

    <!--
	<form action="" method="post" name="roomname">
		{{ form.hidden_tag() }}
		<p>
			Enter a roomname:<br>
			{{ form.roomname(size=50) }}<br>

			Enter a password or leave blank for open room:<br>
			{{ form.roomkey }}<br>
		</p>
		<p><input type="submit" name="Create/Join"></p>
	</form>
    -->

    {% call macros.render_form(form, action_url='', action_text='Join Room', class_='login-form') %}
        {{ macros.render_field(form.roomname, label_visible=false, placeholder='Room Name', type='roomname')}}
        {{ macros.render_field(form.roomkey, label_visible=false, placeholder='Room Password', type='roomkey') }}
    {% endcall %}

{% endblock %}