{% extends "base.html" %}
{% block content %}

    <h1>This is a separate page</h1>

    <div class="jumbotron">
        <div class="container">
            <h1 class="display-3">Ready to learn?</h1>
            <p>We're here to help! DVTutors aims to help students improve their grades through one-on-one and group tutoring. Believe it or not, it's completely free!</p>
            <p>Our tutors are knowledgeable in a variety of subjects ranging from high school English to multivariable calculus. To set up a tutoring session, 
            please login.</p>

            <a href="{{ url_for('login') }}">
                <button type="button" class="btn btn-primary btn-lg">Login</button>
            </a>
        </div>
    </div>

{% endblock %}