{% extends "base.html" %}
{% block content %}

	<div class="container">
		<div class="row">
			<div class="col jumbotron" align="center">
					<h1 class="display-3">Let's get started!</h1>
			</div>
            <div class="col">
                <div class="card">
                    <div class="card-block">
                        <h3 class="card-title">Make a Chatroom</h3>
                        <p class="card-text">Chatrooms have video chat and a collaborative whiteboard making them perfect for online tutoring!</p>
                        <a href="{{ url_for('chat') }}" class="btn btn-info" role="button">Make a Room</a>
                    </div>
                </div>
                <div class="card">
                    <div class="card-block">
                        <h3 class="card-title">Join Your Friends</h3>
                        <p class="card-text">View a list of all rooms currently open on DVTutors. If you know a room's password, you can join it!</p>
                        <a href="{{ url_for('list') }}" class="btn btn-info" role="button">View Open Rooms</a>
                    </div>
                </div>
                <div class="card">
                    <div class="card-block">
                        <h3 class="card-title">Edit Your Profile</h3>
                        <p class="card-text">Customizing your profile can make your experience on DVTutors more productive and enjoyable. Let us know what you want to study!</p>
                        <a href="{{ url_for('edit') }}" class="btn btn-info" role="button">Edit Your Profile</a>
                    </div>
                </div>
            </div>
		</div>
	</div>


{% endblock %}