{% extends "base.html" %}
{% block content %}
    <h1 class="text-center display-1">Active Rooms</h1>

    <div class="list-group">
        {% for room in rooms %}
            <a href="{{ url_for('room', roomname=room.roomname) }}" class="list-group-item list-group-item-action {{% if room.password %} list-group-item-warning {% endif %}">{{ room.roomname }}</a>
        {% endfor %}
    </div>

	{% for room in rooms %}
	<a href="/room/{{ room.roomname }}"> {{room.roomname}} </a> {% if not loop.last %}, {% endif %}
	{% endfor %}

{% endblock %}