{% extends "base.html" %}
{% block content %}
    <h1 class="text-center display-1">Active Rooms</h1>

    <div class="container-fluid">
        <div class="row">
            <div class="col-1 col-xs-1 col-sm-1 col-md-1 col-lg-1 col-xl-1"></div>
            <div class="col jumbotron">
                <p class="text-center">Click on any room to join it. Note that rooms labeled in yellow are password protected. Also, rooms only stay open for {{ ttl }} minutes before being automatically destroyed.</p>
                <div class="list-group">
                    {% if num_rooms > 0 %}
                        {% for room, age in room_age %}
                            <a href="{{ url_for('room', roomname=room.roomname) }}" class="list-group-item list-group-item-action justify-content-between {% if room.password %} list-group-item-warning {% endif %}">{{ room.roomname }}<span class="badge badge-pill {% if age <= 5 %} badge-warning {% else %} badge-default {% endif %}">{% if age > 0 }{{ age }} minutes to live{% else %}Less than a minute to live{% endif %}</span></a>
                        {% endfor %}
                    {% else %}
                        <h3>How about that? There are no open rooms. Click below to open a new one all to yourself!</h3>

                        <a class="btn btn-primary" href="{{ url_for('chat') }}">Make a Room</a>
                    {% endif %}
                </div>
            </div>
            <div class="col-1 col-xs-1 col-sm-1 col-md-1 col-lg-1 col-xl-1"></div>
        </div>
    </div>

{% endblock %}