{% extends "base.html" %}
{% block content %}
<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js" integrity="sha256-sdmLD9jD1PIzq3KOQPNSGZYxjv76rds79Mnyk5JNp1M=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>

    <!--
    <script src="https://rtcmulticonnection.herokuapp.com/dist/RTCMultiConnection.min.js"></script>
	-->

	<script src="https://cdn.rawgit.com/muaz-khan/RTCMultiConnection/master/RTCMultiConnection.js"></script>


</head>
<body>
	<h1>You've entered room {{ roomname }}</h1>

	<br>

	<div id="localVideos"></div>
	<hr>
	<div id="remoteVideos"></div>

	<script src="{{ url_for('static', filename='index.js') }}"></script>
</body>


<!--
<script src="https://simplewebrtc.com/latest-v2.js"></script>
<script src="{{ url_for('static', filename='webrtc.js') }}"></script>
<script type="text/javascript">
	webrtc.on('readyToCall', function () {
		webrtc.joinRoom("{{ roomname }}");
		console.log('joined room');
	});

	/*
	Pseudocode:

	canvas.on('shapeCompleted', function() {
		webrtc.sendDirectlyToAll(channelname, 'event', json_state)
	})
		
	*/
</script>
-->
{% endblock %}