{% extends "base.html" %}
{% block content %}
<head>
<script src="https://simplewebrtc.com/latest-v2.js"></script>
<style>
.floating_camera {
	display: inline-block;
	width: 300px;
	height: 300px;
	margin: 10px;
}
</style>
</head>

	<body>

	<h1>You've entered room {{ roomname }}</h1>

	<br>

	<video height="300" id="localVideo"></video>


	<div class ="floating_camera" id="remotesVideos"></div>

	<br>

	<p> To check the place for fun </p>


	</body>


<script src="{{ url_for('static', filename='webrtc.js') }}"></script>
<script type="text/javascript">
	webrtc.on('readyToCall', function () {
		webrtc.joinRoom("{{ roomname }}");
		console.log('joined room');
	});

	/*
	Pseudocode:

	canvas.on('shapeCompleted', function() {
		webrtc.sendDirectlyToAll(channelname, 'event', json_state)
	})
		
	*/
</script>

{% endblock %}