{% extends "base.html" %}
{% block content %}
<head>

</head>
<body>
    <h1>You've entered room {{ room.roomname }}</h1>

    {% if ttl < 5 %}
        <h3>This room has less than 5 minutes left to live.</h3>
    {% endif %}


    <br>

    <div id="localVideos"></div>
    <hr>
    <div id="remoteVideos"></div>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js" integrity="sha256-sdmLD9jD1PIzq3KOQPNSGZYxjv76rds79Mnyk5JNp1M=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='room.js') }}"></script>
    <script src="{{ url_for('static', filename='rtcmulticonnection.js')}}"></script>
</body>

{% endblock %}