{% extends "base.html" %}
{% block content %}

	<!--
	<table>
		<tr valign="top">
			<td><img src="{{ user.profile_picture(128) }}"></td>
			<td><h1>{{ user.nickname }}</h1></td>
			<td>
				{% if user.about_me %}<p>{{ user.about_me }}</p>{% endif %}
				{% if user.id == g.user.id %}<p><a href="{{ url_for('edit') }}">Edit</a></p>{% endif %}
			</td>	
		</tr>
	</table>
	<hr>
	-->

	<div class="container">
		<div class="card">
			<div class="card-header">{{ user.nickname }}</div>
			<div class="card-block">
				<div class="row">
					<div class="col">
						<img src="{{ user.profile_picture(64) }}">
					</div>
					<div class="col">
						{% if user.about_me %}
							<p>{{ user.about_me }}</p>
						{% endif %}

						{% if user.id == g.user.id %}
							<a href="{{ url_for('edit') }}" class="btn btn-success" role="button">Edit Profile</a>
						{% endif %}
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock %}