{% extends "base.html" %}
{% block content %}

	<!--
	<table>
		<tr valign="top">
			<td><img src="{{ user.profile_picture(128) }}"></td>
			<td><h1>{{ user.nickname }}</h1></td>
			<td>
				{% if user.about_me %}<p>{{ user.about_me }}</p>{% endif %}
				{% if user.id == g.user.id %}<p><a href="{{ url_for('edit') }}">Edit</a></p>{% endif %}
			</td>	
		</tr>
	</table>
	<hr>
	-->

	<div class="container text-center">
		<div class="row">
			<div class="col-4">
				<img src="{{ user.profile_picture(256) }}" style="border-radius: 10%; ">
			</div>
			<div class="col-5">
				<h1 class="display-3">{{ user.nickname }}</h1>
				{% if user.about_me %}
					<p>{{ user.about_me }}</p>
				{% endif %}

				{% if user.id == g.user.id %}
					<a href="{{ url_for('edit') }}" class="btn btn-success" role="button">Edit Profile</a>
				{% endif %}
			</div>
		</div>
	</div>

{% endblock %}